target
.idea
node_modules
uni_modules
pages/suggestion
pages/reset_password
pages/order_patient
pages/order
pages/news_detail
pages/news
pages/information
pages/edit_patient
pages/doctor_list
pages/doctor
pages/add_patient
pages/primary
pages/patient
/unpackage/